<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd"
       default-autowire="byName">

    <!-- annotation -->
    <context:annotation-config />
    <!-- controller & component -->
    <context:component-scan base-package="com.tiemei.demo.least.spring" />

    <!-- handlerMapping -->
    <bean id="handlerMapping"
          class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="interceptors">
            <list>
                <ref bean="requestContextInterceptor" />
            </list>
        </property>
    </bean>
    <bean id="requestContextInterceptor" class="com.tiemei.demo.least.spring.ReqCtxInterceptor" />
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />

    <!-- view -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="10" />
    </bean>

    <bean id="httlViewResolver" class="httl.web.springmvc.HttlViewResolver">
        <property name="contentType" value="text/html; charset=UTF-8" />
        <property name="order" value="1" />
    </bean>


    <!-- ==================== aop ================= -->
    <bean id="leastMethodBefore" class="com.tiemei.demo.least.spring.aop.LeastMethodBefore" />
    <bean id="leastMethodAround" class="com.tiemei.demo.least.spring.aop.LeastMethodAround" />
    <bean id="helloServiceProxy"
          class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="helloService" />
        <property name="interceptorNames">
            <list>
                <value>leastMethodBefore</value>
                <value>leastMethodAround</value>
            </list>
        </property>
    </bean>
    <!-- ==================== aop ================= -->



    <!-- dynamic lanaguage -->
    <!--<lang:groovy id="messenger" script-source="classpath:src/main/groovy/com.tiemei.demo.least.spring/GroovyMessenger.groovy">-->
        <!--<lang:property name="name" value="first goory implement." />-->
    <!--</lang:groovy>-->

    <!--
    <bean id="messenger" class="GroovyMessenger">
        <property name="name" value="here is compiled groovy class." />
    </bean>-->


    <!-- ============ properties ============ -->
    <context:property-placeholder location="classpath:foo.properties" />
    <!-- ============ properties ============ -->

</beans>